{% extends 'layout.html' %}

{% block content %}
<div class="contacts">
  <div>
    <figure class="mail">
      <a href="mailto:l.g.peeters@student.tue.nl" target="_top">
        <span style= "font-size: 100px" class="glyphicon glyphicon-envelope"></span>
      </a>
        <figcaption class="lead"><a href="mailto:l.g.peeters@student.tue.nl" target="_top">Send Mail</a></figcaption>
    </figure>
    <figure class="mail">
      <a href="tel:0031633013901">
        <span style="font-size: 100px" class="glyphicon glyphicon-phone"></span>
      </a>
        <figcaption class="lead"><a href="tel:0031633013901">+316 330 139 01</a></figcaption>
    </figure>
    <figure class="mail">
      <a href="https://goo.gl/maps/ZuEu6Ww6YV12">
        <span style="font-size: 100px" class="glyphicon glyphicon-map-marker"></span>
      </a>
        <figcaption class="lead"><a href="https://goo.gl/maps/ZuEu6Ww6YV12">5612 AZ Eindhoven</a></figcaption>
    </figure>
  </div>
</div>
{% endblock %}
